@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope-mainfont {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    font-family: manrope;
    background-color: #f2ece5;
}

#tripOverviewContainer {
    width: 90%;
    height: 570px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 15px;
    background-color: white;
}

#tripOverviewContainer:hover{
    cursor: pointer;
    opacity: 90%;
    transform: scale(1.05);
    transition: .8s;
}

#tripOverviewContainer_imgCont{
    width: 500px;
    height: 570px;
    float: left;
    border-radius: 15px 0 0 10px;
}

#tripOverviewContainer_imgCont img{
    height: 570px;
    object-fit: cover;
    border-radius: 15px 0 0 10px;
}

#lblLocation{
    font-size: 40px;
    padding-top: 60px;
    letter-spacing: 3px;
}

#lblTravelDates_Container{
    width: 360px;
    display: flex;
    text-align: center;
    margin-top: -30px;
    font-size: 20px;
}

#lblDesc{
    /* background-color: red; */
    margin-top: 7px;
    height: 300px;
    font-size: 24px;
    overflow: hidden;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 50px;
    font-weight: lighter;
}

#lblTotalTrip{
    text-align: center;
    font-size: 22px;
    font-weight: lighter;
}

#dividerLine {
    width: 95%;
    height: 1px;
    border-radius: 10px;
    background-color: black;
    margin-top: 60px;
    margin-bottom: 60px;
}

