@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope-mainfont {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    font-family: manrope;
}

.headContent{
    width: 100%;
    height: 120px;
}

#lblWelcome{
    padding-top: 15px;
    padding-left: 50px;
}


.leftTop{
    width: 50%;
    float: left;
}

.rightTop{
    float: right;
    padding-top: 25px;
    width: 70px;
    height: 70px;
}

#imgProfile{
    border-radius: 50%;
    float: right;
    margin-right:150px;
    display: block;
    object-fit: cover;
}

#imgProfile:hover{
    cursor: pointer;
    opacity: 90%;
    transition: 1s;
}