@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope-mainfont {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    font-family: manrope;
}

.headContent {
    width: 100%;
    height: 120px;
}

#lblWelcome {
    padding-top: 15px;
    padding-left: 100px;
    font-weight: lighter;
}


.leftTop {
    width: 50%;
    float: left;
}

.rightTop {
    float: right;
    padding-top: 25px;
    width: 70px;
    height: 70px;
}

#imgProfile {
    border-radius: 50%;
    float: right;
    margin-right: 150px;
    display: block;
    object-fit: cover;
}

#imgProfile:hover {
    cursor: pointer;
    opacity: 90%;
    transition: 1s;
}

#openUpClickPfp {
    width: 200px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: right;
    margin-right: 87px;
    display: none;
    background-color: white;
    margin-top: -20px;
    /* transition: opacity 1s, display 1s; */
}

#editProfileContainer {
    width: 200px;
    height: 50px;
    margin-top: 0px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    display: none;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    /* transition: opacity 1s, display 1s; */
}

#editProfileContainer:hover {
    background-color: #FFAE03;
    color: white;
    transition: .5s;
}

#logOutContainer {
    width: 200px;
    height: 50px;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
    border-top: 1px solid black;
    vertical-align: middle;
    line-height: 50px;
    display: none;
    cursor: pointer;
    /* transition: opacity 1s, display 1s; */
}

#logOutContainer:hover {
    background-color: #A22522;
    color: white;
    transition: .5s;
}

#lblYourLatestTravel {
    text-align: center;
    letter-spacing: 5px;
    font-size: 37px;
    font-weight: lighter;
    margin-top: 70px;
}

.card {
    width: 350px;
    height: 610px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    /* 5px rounded corners */
    margin-left: 70px;
    /* display: table-cell; */
}

.card img {
    height: 450px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.card2 {

    width: 350px;
    height: 610px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    /* 5px rounded corners */
    margin-left: 100px;
    /* display: table-cell; */
    border-radius: 5px 5px 0 0;
}

.card2 img {
    height: 450px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.card3 {
    width: 350px;
    height: 610px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    /* 5px rounded corners */
    margin-left: 100px;
    /* display: table-cell; */
    border-radius: 5px 5px 0 0;
}

.card3 img {
    height: 450px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.card4 {
    width: 350px;
    height: 610px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    /* 5px rounded corners */
    margin-left: 100px;
    /* display: table-cell; */
    border-radius: 5px 5px 0 0;
}

.card4 img {
    height: 450px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

#lblViewMoreMemories {
    font-weight: lighter;
    text-align: center;
    cursor: pointer;
    float: left;
    margin-left: 70px;
    font-size: 20px;
}

#lblViewMoreMemories:hover{
    color: rgb(0, 89, 255);
    opacity: 70%;
    transition: 1s;
    font-weight: bold;
}

#lblAddMemories {
    font-weight: lighter;
    text-align: center;
    cursor: pointer;
    float: right;
    margin-right: 120px;
    font-size: 20px;
}

#lblAddMemories:hover{
    color: rgb(12, 155, 12);
    opacity: 70%;
    transition: 1s;
    font-weight: bold;
}

#lblHightlight_container{
    width: 100%;
    height: 50px;
    margin-top: 50px;
}