@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope-mainfont {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    font-family: manrope;
    background-color: #f2ece5;
}

#lblLocation {
    text-align: center;
    margin-top: 100px;
    font-size: 45px;
    font-weight: lighter;
}

.containerDate {
    text-align: center;
}

.containerDate h1 {
    font-weight: lighter;
}

.containerDate_element {
    display: flex;
    width: 520px;
    margin: 0 auto;
    padding-top: 10px;
}

#editDate {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 22.5px;
}

#editDate:hover {
    cursor: pointer;
    opacity: 70%;
    transform: scale(1.03);
    transition: .8s;
}

#coverImgDiv {
    width: 1400px;
    height: 800px;
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

#coverImgDiv:hover {
    cursor: pointer;
}

#coverImgDiv:hover {
    cursor: pointer;
    opacity: 70%;
    transform: scale(1.03);
    transition: .8s;
}

.formDiv {
    text-align: center;
}

#file-upload {
    display: none;
}

#custom-file-upload {
    display: none;
    cursor: pointer;
    background-color: rgb(255, 162, 0);
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 40px 10px 40px;
    width: 200px;
    margin: 0 auto;
}

#btnSubmit {
    border: 1px solid #ccc;
    padding: 6px 12px;
    cursor: pointer;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 40px 10px 40px;
    display: none;
    margin: 0 auto;
}

#mainCoverImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

#editImage {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 63%;
    right: 45%;
    display: none;
    pointer-events: none;
}


#descContainer {
    width: 75%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    margin: 0 auto;
    padding: 30px 70px 30px 70px;
}

#descContainer p {
    font-size: 26px;
    line-height: 2.5;
    font-weight: lighter;
}

#editDescCont {
    background-color: whitesmoke;
    display: flex;
    width: 330px;
    height: 60px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    margin: 0 auto;
}

#editDescCont:hover {
    cursor: pointer;
    opacity: 80%;
    transform: scale(1.02);
    transition: .8s;
    background-color: rgb(131, 240, 131);
}

#editDescCont img {
    margin-left: 46px;
    margin-top: 17px;
    user-select: none;
}

#editDescCont h2 {
    font-weight: 400;
    margin-left: 10px;
    user-select: none;
}

#editPopUp {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(20, 18, 18, 0.4);
    /* Black w/ opacity */
}

#editPopUp_content {
    width: 1100px;
    height: 800px;
    background-color: white;
    margin-left: 21%;
    margin-top: 6%;
    border-radius: 15px;
}

#txtNewDesc {
    margin-top: 20px;
    width: 90%;
    height: 550px;
    border-radius: 15px;
    font-family: manrope;
    font-size: 21px;
    font-weight: 350;
    line-height: 2.5;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#btnUpdateDesc {
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: green;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 30px;
}

#btnUpdateDesc:hover {
    cursor: pointer;
    opacity: 80%;
    transform: scale(1.02);
    transition: .8s;
}

#editTravelDates {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(20, 18, 18, 0.4);
}

#editTravelDates h2 {
    font-weight: lighter;
}

#editTravelDates input {
    width: 250px;
    height: 50px;
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#editTravelDates_content {
    width: 400px;
    height: 550px;
    border-radius: 15px;
    margin-top: 12%;
    background-color: white;
}

#btnUpdateDate {
    margin-top: 60px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(47, 185, 47);
    color: white;
}

#btnUpdateDate:hover {
    background-color: green;
    cursor: pointer;
    opacity: 80%;
    transform: scale(1.02);
    transition: .8s;
}

#lblImages {
    text-align: center;
    font-weight: lighter;
    font-size: 40px;
    letter-spacing: 8;
}

#uploadImageEmptyDiv {
    width: 35%;
    height: 150px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    margin: 0 auto;
    display: flex;
}

#uploadImageEmptyDiv:hover {
    cursor: pointer;
    opacity: 80%;
    transform: scale(1.02);
    transition: .8s;
}

#imgUpload {
    width: 80px;
    height: 80px;
    margin-right: 30px;
    margin-left: 20%;
    margin-top: 40px;
}

#addNewImgForm {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(20, 18, 18, 0.4);
    /* Black w/ opacity */
}

#addNewImgForm_content {
    width: 800px;
    height: auto;
    border-radius: 15px;
    margin-top: 1%;
    background-color: white;
    padding: 30px;
}

#newImagePic {
    width: 700px;
    height: 500px;
    object-fit: cover;
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    /* display: none; */
}

.newPicFileUpload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: yellow;
    color: black;
    border-radius: 15px;
    font-size: 18px;
    padding: 10px 40px 10px 40px;
    margin-top: 30px;
}

#txtDesc_newImg {
    width: 500px;
    padding: 15px;
    font-family: manrope;
    font-size: 19px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: none;
    margin-top: 20px;
}

#pickDate{
    width: 250px;
    height: 50px;
    padding: 15px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#toHideElement{
    display: none;
}

#btnAddImage{
    display: none;
    padding: 6px 12px;
    cursor: pointer;
    background-color: green;
    color: white;
    border-radius: 15px;
    font-size: 18px;
    padding: 10px 40px 10px 40px;
    margin-top: 30px;
    border: none;
}

#addNewImgForm_content_frm input{
    display: none;
}

#aFull{
    text-decoration: none;
}

.insideContainer{
    width: 60%;
    height: 350px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    background-color: white;
}

.insideContainer:hover{
    cursor: pointer;
    opacity: 80%;
    transform: scale(1.02);
    transition: .8s;
}

.insideContainer_imgCont {
    width: 50%;
    height: 350px;
    float: left;
    border-radius: 15px 0 0 15px;
}

.insideContainer_imgCont img {
    height: 350px;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

#lblImages_Date{
    margin-top: 70px;
    color: black;
}

.insideContainer_details{
    width: 50%;
    border-radius: 0 15px 15px 0;
    float: right;
}

.insideContainer_details_containerP{
    width: 80%;
    height: 200px;
    text-align: center;
    color: black;
    font-size: 24px;
    overflow: hidden;
}

.insideContainer_details_containerP p{
    padding-top: 50px;
}