@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope-mainfont {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    font-family: manrope;
    background-color: #f2ece5;
}

#imgProfile {
    border-radius: 50%;
    display: block;
    height: 400px;
    width: 400px;
    object-fit: cover;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

#imgProfile:hover {
    opacity: 90%;
    transition: 1s;
}

#lblEdit {
    text-align: center;
    margin-top: 50px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #074173;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 40px 10px 40px;
}

#formDiv {
    text-align: center;
}

#btnSubmit {
    border: 1px solid #ccc;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #074173;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 40px 10px 40px;
    display: none;
}

#previewPopUp {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(20, 18, 18, 0.4);
    /* Black w/ opacity */
}

#previewContent{
    width: 700px;
    height: 700px;
    margin-left: 32%;
    margin-top: 8%;
}

#divPreviewImg{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#editNameWrapper {
    text-align: center;
}

#editNameDiv {
    display: inline-block;
}

#imgEdit {
    cursor: pointer;
}

#editPopUp {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(20, 18, 18, 0.4);
    /* Black w/ opacity */
}

#editPopUp_content {
    width: 500px;
    height: 600px;
    background-color: white;
    margin-left: 37%;
    margin-top: 8%;
}

#txtChangeName {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    margin: 30px 0px 0px 125px;
    padding-left: 15px;
}

#btnUpdate {
    width: 150px;
    padding: 10px;
    background-color: #074173;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#btnUpdate:hover {
    transition: 1s;
    opacity: 90%;
}

#btnUpdate_container {
    text-align: center;
}

#lblViewMoreMemories {
    font-weight: lighter;
    text-align: center;
    cursor: pointer;
    float: left;
    margin-left: 70px;
    font-size: 20px;
}

#lblViewMoreMemories:hover {
    color: #074173;
    opacity: 70%;
    transition: 1s;
    font-weight: bold;
}

#lblMainPage {
    font-weight: lighter;
    text-align: center;
    cursor: pointer;
    float: right;
    margin-right: 120px;
    font-size: 20px;
}

#lblMainPage:hover {
    color: #074173;
    opacity: 70%;
    transition: 1s;
    font-weight: bold;
}

#lblHightlight_container {
    width: 100%;
    height: 50px;
    margin-top: 50px;
}