@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200..800&display=swap');

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.manrope-mainfont {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


body {
    font-family: manrope;
}

.loginForm {
    width: 500px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#txtUsername {
    width: 300px;
    height: 50px;
    margin: auto;
    display: block;
    border-radius: 6px;
    font-size: 18px;
    padding-left: 10px;
}

#txtPassword {
    width: 250px;
    height: 50px;
    margin: auto;
    display: block;
    border-radius: 6px;
    font-size: 18px;
    padding-left: 10px;
}

#imgEye{
    width: 30px;
    height: 30px;
}

#imgEye img:hover {
    cursor: pointer;
    opacity: 70%;
    transition: .5s;
}

#btnSignIn {
    width: 170px;
    height: 40px;
    border-radius: 5px;
    background-color: green;
    color: white;
    border: none;
    font-size: 16px;
}

#btnSignIn:hover {
    cursor: pointer;
    opacity: 70%;
    transition: .5s;
}

#lblRegisterNow:hover {
    cursor: pointer;
    opacity: 70%;
    transition: .3s;
}

.regForm {
    width: 500px;
    height: 630px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#reg_txtUsername {
    width: 300px;
    height: 50px;
    margin: auto;
    display: block;
    border-radius: 6px;
    font-size: 18px;
    padding-left: 10px;
}

#reg_txtEmail {
    width: 300px;
    height: 50px;
    margin: auto;
    display: block;
    border-radius: 6px;
    font-size: 18px;
    padding-left: 10px;
}

#reg_txtPassword {
    width: 250px;
    height: 50px;
    margin: auto;
    display: block;
    border-radius: 6px;
    font-size: 18px;
    padding-left: 10px;
}

#reg_imgEye{
    width: 30px;
    height: 30px;
}

#reg_imgEye img:hover {
    cursor: pointer;
    opacity: 70%;
    transition: .5s;
}

#btnCreate {
    width: 170px;
    height: 40px;
    border-radius: 5px;
    background-color: green;
    color: white;
    border: none;
    font-size: 16px;
}

#btnCreate:hover {
    cursor: pointer;
    opacity: 70%;
    transition: .5s;
}

#lblSignIn:hover {
    cursor: pointer;
    opacity: 70%;
    transition: .3s;
}